

.activeHighlight {
    border-left: 2px solid #22a7f0;
    color: #22a7f0;
}
.popover-md .popover-content {
    border-radius: 2px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    width: 103px !important;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fffff ;
    -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
}
.fab-md-dark {
    color: #fff;
    background-color: transparent;
}
[ion-fixed] {
    position: relative;
    z-index: 999;
    -webkit-transform: translateZ(0);
    /* transform: translateZ(0); */
    /* text-align: center; */
    top: 548px;

}


.toolbar-background-md, .toolbar-background-ios {
    background: #22A7F0;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #040404;
    background-color: transparent;
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
   ion-grid {
            height: 100%;
        }
        ion-row {
            height: 100%;
        }
        ion-col {
            height: 100%;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        ion-img {
            object-fit: resize;
            height: 100%;
            width: auto !important;
            border: 0;
            padding: 0;
            background-color: grey;
        }
}
.zoom-in {
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms;
}

  .bgimg{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEJX0yxXdY7LmpM-8yb8gKs2IfnHexcbUirKWrc2wviVyNYtWHSQ);
  }