page-home {
.col {
     padding: 0px;
     text-align: center; 
     }
.button-md, .button-ios {
    padding: 0px;
    height: 55px;
}     
.item-md ion-thumbnail ion-img,.item-ios ion-thumbnail ion-img, .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
    width: 64px;
    height: 57px;
    /* text-align: center; */
}
.item-md ion-thumbnail,.item-ios ion-thumbnail {
    min-width: 80px;
    min-height: 0px;
}

.playlist-icon{
    font-size: 30px;
    color:white;
    width: 0px;
}

.item-md, .item-ios {
    color: #8f8f8f;
    background-color: rgba(0, 0, 0, 0.8);
}
.item-md.item-block .item-inner, .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
}
.list-md, .list-ios {
    margin: -1px 0 0px;
}
}
